VITE_PERSISTENCE_ADAPTER=firebase
VITE_FIREBASE_API_KEY=AIzaSyCWiTD4gdkZiWDpe1yk_cwWDO3tpEhDjZg
VITE_FIREBASE_AUTH_DOMAIN=nexusarqui-f6e11.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nexusarqui-f6e11
VITE_FIREBASE_STORAGE_BUCKET=nexusarqui-f6e11.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=315265588369
VITE_FIREBASE_APP_ID=1:315265588369:web:0538f63a6229a97c4df330
